.about {
  background-color: transparent;
  font-size: 1.1em;
}

.profile {
  max-width: 35vh;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.my-details {
  background-color: transparent;
}

.font-details {
  color: transparent;
}

.resume-button {
  background-color: transparent;
  border-color: #4a4947;
}

.resume-button:hover {
  transition: all 0.3s ease-in-out;
  border-color: #99774f;
  background-color: transparent;
}

.resume-button:active {
  background-color: transparent !important;
}

.resume-button:focus {
  background-color: transparent;
}

.talk-button {
  background-color: transparent;
  border-color: #4a4947;
}

.talk-button:active {
  background-color: transparent !important;
}

.talk-button:hover {
  transition: all 0.3s ease-in-out;
  border-color: #99774f;
  background-color: transparent;
}
.git-button {
  background-color: transparent;
  border-color: #4a4947;
}

.git-button:active {
  background-color: transparent !important;
}

.git-button:hover {
  transition: all 0.3s ease-in-out;
  border-color: #99774f;
  background-color: transparent;
}

.git-button:focus {
  background-color: transparent;
}

.linkedin-button {
  background-color: transparent;
  border-color: #4a4947;
}

.linkedin-button:hover {
  transition: all 0.3s ease-in-out;
  border-color: #99774f;
  background-color: transparent;
}

.linkedin-button:active {
  background-color: transparent !important;
}

.linkedin-button:focus {
  background-color: transparent;
}
