@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

.initials {
  font-family: "Rock Salt", cursive;
}
.nav-theme {
  background-color: transparent;
  font-size: 20px;
}

.animate-navbar {
  animation: moveDown 0.5s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
