.project-card {
  background-color: transparent;
  border: 1px solid #888888;
  width: 95%;
  height: 237px;
  top: 0px;
  position: relative;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 1px 6px 0px;
}

.project-card h1 {
  font-size: 1.3rem;
  font-weight: 650;
  color: white;
}

.project-card p {
  font-weight: 500;
  font-size: 1.1rem;
  color: rgb(233, 227, 227);
}

.project-card span {
  font-weight: normal;
  font-size: 0.95rem;
  color: rgb(255, 255, 255);
}

.project-card:hover {
  transition: all 0.3s ease-in-out;
  transform: scale(0.98);
  border: 1px solid #99774f;
}
